# Explore here

In [34]:
# Your code here
import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv', delimiter = ";")

# Visualizar las primeras filas del DataFrame
print(df.head())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]

In [35]:
# Obtener las dimensiones
df.shape

(41188, 21)

In [36]:
# Obtener informaci√≥n sobre tipos de datos y valores no nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [37]:
# control de duplicados

duplicados = df.duplicated()
num_duplicados = duplicados.sum()
print(num_duplicados)

duplicadas_incluyendo_primera = df[df.duplicated(keep=False)]
print(duplicadas_incluyendo_primera)

12
       age          job   marital            education  default housing loan  \
1265    39  blue-collar   married             basic.6y       no      no   no
1266    39  blue-collar   married             basic.6y       no      no   no
12260   36      retired   married              unknown       no      no   no
12261   36      retired   married              unknown       no      no   no
14155   27   technician    single  professional.course       no      no   no
14234   27   technician    single  professional.course       no      no   no
16819   47   technician  divorced          high.school       no     yes   no
16956   47   technician  divorced          high.school       no     yes   no
18464   32   technician    single  professional.course       no     yes   no
18465   32   technician    single  professional.course       no     yes   no
20072   55     services   married          high.school  unknown      no   no
20216   55     services   married          high.school  unknown      no   no
20531   41   technician   married  professional.course       no     yes   no
20534   41   technician   married  professional.course       no     yes   no
25183   39       admin.   married    university.degree       no      no   no
25217   39       admin.   married    university.degree       no      no   no
28476   24     services    single          high.school       no     yes   no
28477   24     services    single          high.school       no     yes   no
32505   35       admin.   married    university.degree       no     yes   no
32516   35       admin.   married    university.degree       no     yes   no
36950   45       admin.   married    university.degree       no      no   no
36951   45       admin.   married    university.degree       no      no   no
38255   71      retired    single    university.degree       no      no   no
38281   71      retired    single    university.degree       no      no   no

         contact month day_of_week  ...  campaign  pdays  previous  \
1265   telephone   may         thu  ...         1    999         0
1266   telephone   may         thu  ...         1    999         0
12260  telephone   jul         thu  ...         1    999         0
12261  telephone   jul         thu  ...         1    999         0
14155   cellular   jul         mon  ...         2    999         0
14234   cellular   jul         mon  ...         2    999         0
16819   cellular   jul         thu  ...         3    999         0
16956   cellular   jul         thu  ...         3    999         0
18464   cellular   jul         thu  ...         1    999         0
18465   cellular   jul         thu  ...         1    999         0
20072   cellular   aug         mon  ...         1    999         0
20216   cellular   aug         mon  ...         1    999         0
20531   cellular   aug         tue  ...         1    999         0
20534   cellular   aug         tue  ...         1    999         0
25183   cellular   nov         tue  ...         2    999         0
25217   cellular   nov         tue  ...         2    999         0
28476   cellular   apr         tue  ...         1    999         0
28477   cellular   apr         tue  ...         1    999         0
32505   cellular   may         fri  ...         4    999         0
32516   cellular   may         fri  ...         4    999         0
36950   cellular   jul         thu  ...         1    999         0
36951   cellular   jul         thu  ...         1    999         0
38255  telephone   oct         tue  ...         1    999         0
38281  telephone   oct         tue  ...         1    999         0

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
1265   nonexistent          1.1          93.994          -36.4      4.855
1266   nonexistent          1.1          93.994          -36.4      4.855
12260  nonexistent          1.4          93.918          -42.7      4.966
12261  nonexistent          1.4          93.918          -42.7      4.966
14155  nonexistent          1.4          93.918          -42.7      4.962
14234  nonexistent          1.4          93.918          -42.7      4.962
16819  nonexistent          1.4          93.918          -42.7      4.962
16956  nonexistent          1.4          93.918          -42.7      4.962
18464  nonexistent          1.4          93.918          -42.7      4.968
18465  nonexistent          1.4          93.918          -42.7      4.968
20072  nonexistent          1.4          93.444          -36.1      4.965
20216  nonexistent          1.4          93.444          -36.1      4.965
20531  nonexistent          1.4          93.444          -36.1      4.966
20534  nonexistent          1.4          93.444          -36.1      4.966
25183  nonexistent         -0.1          93.200          -42.0      4.153
25217  nonexistent         -0.1          93.200          -42.0      4.153
28476  nonexistent         -1.8          93.075          -47.1      1.423
28477  nonexistent         -1.8          93.075          -47.1      1.423
32505  nonexistent         -1.8          92.893          -46.2      1.313
32516  nonexistent         -1.8          92.893          -46.2      1.313
36950  nonexistent         -2.9          92.469          -33.6      1.072
36951  nonexistent         -2.9          92.469          -33.6      1.072
38255  nonexistent         -3.4          92.431          -26.9      0.742
38281  nonexistent         -3.4          92.431          -26.9      0.742

       nr.employed    y
1265        5191.0   no
1266        5191.0   no
12260       5228.1   no
12261       5228.1   no
14155       5228.1   no
14234       5228.1   no
16819       5228.1   no
16956       5228.1   no
18464       5228.1   no
18465       5228.1   no
20072       5228.1   no
20216       5228.1   no
20531       5228.1   no
20534       5228.1   no
25183       5195.8   no
25217       5195.8   no
28476       5099.1   no
28477       5099.1   no
32505       5099.1   no
32516       5099.1   no
36950       5076.2  yes
36951       5076.2  yes
38255       5017.5   no
38281       5017.5   no

[24 rows x 21 columns]

In [38]:
# Drop duplicates
df_no_duplicates = df.drop_duplicates()

# If you want to reset the index after dropping duplicates:
df_no_duplicates = df_no_duplicates.reset_index(drop=True)

# Print the shape before and after to see how many duplicates were removed
print("Shape before dropping duplicates:", df.shape)
print("Shape after dropping duplicates:", df_no_duplicates.shape)

Shape before dropping duplicates: (41188, 21)
Shape after dropping duplicates: (41176, 21)

In [39]:
# Visualizar las primeras filas del DataFrame
print(df_no_duplicates.head())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]